body{
    padding:0px;
    margin:0;
}

#container{
    background-color: #212228;
    background-image: linear-gradient(#292a30 .1rem, transparent .1rem)
    linear-gradient(90deg,#292a30 .1rem, transparent .1rem);
    background-size:4rem 4rem;
    height:100vh;
}

#card{
    height: 100px;
    width:100px;
    background-color: greenyellow;
    border-radius: 5px;
    cursor:pointer;
    position: fixed;
}

#ground{
    background-color: black;
    position: relative;
    
}